<section id="parallex" class="parallax-window" backgroundimage="http://placehold.it/"> 
    <div class="container-fluid h-100">
       <div class="row align-items-center justify-content-center h-100 parallaxt-details">
          <div class="col-lg-4 r-mb-23">
             <div class="text-left">
                {% for project in topsecond %}
                <!--
                <a href="javascript:void(0);">
                   <img src="{{project.imageURL}}" class="img-fluid" alt="bailey">
                </a>
                -->
                <h2>{{project.title}}</h2>
                <div class="parallax-ratting d-flex align-items-center mt-3 mb-3">
                   <ul class="ratting-start p-0 m-0 list-inline text-primary d-flex align-items-center justify-content-left">
                     {% include 'projects/stars/stars.html' %}
                   </ul>
                   <span class="text-white ml-3">9.2 (lmdb)</span>
                </div>
                <div class="movie-time d-flex align-items-center mb-3 iq-ltr-direction">
                   <div class="badge badge-secondary mr-3">{{project.movie_restriction}}</div>
                   <h6 class="text-white">{{project.duration}}</h6>
                </div>
                <p>{{project.description}}</p>
                <div class="parallax-buttons">
                  {% if project.seasonal %}
                  <a href="{% url 'serieDetails' project.id %}" class="btn btn-hover">Play Now</a>
                  {% else %}
                  <a href="{% url 'project' project.id %}" class="btn btn-hover">Play Now</a>
                  {% endif %}
                   
                   <a href="javascript:void(0);" value="{{project.id}}" class="btn btn-link" tabindex="0"><i class="ri-add-line"></i>
                     My List
                  </a>
                </div>
                
             </div>
          </div>
          <div class="col-lg-8">
             <div class="parallax-img">
                <a href="movie-details.html">
                    <img src="{{project.imageURL}}" class="img-fluid w-100" alt="bailey">
                </a>
             </div>
             {% endfor %}
          </div>
       </div>
    </div>
 </section>