{% if serie.vote_ratio <= 19 %}
<li>
    <i class="fa fa-star-half" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 29 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 39 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star-half" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 49 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 59 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star-half" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 69 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 79 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star-half" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 89 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 99 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star-half" aria-hidden="true"></i>
</li>
{% elif serie.vote_ratio <= 100 %}
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>
<li>
    <i class="fa fa-star" aria-hidden="true"></i>
</li>

{% endif %}