{% extends 'main2.html' %}
{% load static %}
{% block content %}
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <div class="iq-comingsoon pt-5">
            <div class="container-fluid">
               <div class="row justify-content-center">
                  <div class="col-sm-8 text-center">
                     <div class="iq-comingsoon-info">
                        <a href="index.html">
                        <img src="{% static 'images/logo.png' %}" class="img-fluid w-25" alt="">
                        </a>
                        <h2 class="mt-4 mb-1">Stay tunned, we're launching very soon</h2>
                        <p>We are working very hard to give you the best experience possible!</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}