{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- MainContent -->
<section class="sign-in-page">
    <div class="container">
       <div class="row justify-content-center align-items-center height-self-center">
          <div class="col-lg-5 col-md-12 align-self-center">
             <div class="sign-user_card ">                    
                <div class="sign-in-page-data">
                   <div class="sign-in-from w-100 m-auto">
                    <h3>Password reset complete</h3>
                    <br>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <br>
                    
                    <a href="{% url 'login' %}"><button type="submit" class="btn btn-hover">Log In</button></a>
                   </div>
                </div>                    
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- MainContent End-->
 

{% endblock %}